*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    
}
header { 
    position: relative;
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 65vh; 
    flex-wrap: wrap;
 
}
 a.logo {
    font-size: 2em;
    color: rgb(236, 233, 233);
}
.ul1{
    margin-left: 1.5em;
}
.ul2{
    margin-right: 1.5em;
}
.ul1 input{
   height: 2.2em;
   border-radius: 6px;
   border: 0.2px solid rgb(88, 81, 81);
   background-color:  transparent;
   color: white;
   padding-left: 1em;
}
.ul1 input::placeholder{
    color: rgb(221, 213, 213);
}

nav {
    display: flex;
    position: relative;
    width: 100%;
    height: 15%;
    background-color: #171d1c; 
    flex-wrap: wrap;
    justify-content: space-between;
    
}
nav ul a{
    text-decoration: none;
    color: white;
}
ul {
    display: flex;
    align-items: center;
    margin: 0 .5em 0 .5em;
    
}
.ul1 li, .ul2 li, .ft1, .ft2{
    display: inline-block;
    padding: .5em;
}

#head {
   position: relative;
   display: flex;
   width: 100%;
   height: 85%;
   background: url(images/download.jfif);
   justify-content: center;
   align-items: flex-end;
   flex-wrap: wrap;
}
.m3 {
   transform: rotatex(5deg);
   transform: rotateY(15deg);
   position: absolute;
    top: 265px;
    left: 640px;
    z-index: 0;
}
.m4 {
    position: absolute;
    top: 150px;
    left: 635px;
    z-index: 1;
}
.m7{
    position: absolute;
    top: 240px;
    left: 579px;
    z-index: 0;
    transform: rotatex(75deg);
}
.m2 {
    position: absolute;
    z-index: 2;
    top: 95px;
    left: 560px;
}
.m1{
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 270px;
}
.m5 {
    position: absolute;
    top: 75px;
    left: 680px;
    z-index: 0;
}
.m6{
    position: absolute;
    top: 130px;
    left: 930px;
    z-index: 0;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.srh input , .srh button{
    height: 5vh;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid rgb(182, 179, 179);
}
.srh button{
    width: 5em;
}
.srh label {
    color: grey;
    padding-bottom: 1em;
    font-size: 1.0em;
    font-weight: 100;
    font-family: Optima, sans-serif;
}
.searchArea {
    margin-top: 2em;
    margin-bottom: 4em;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.lst {
    margin-top: 2em;
    font-size: medium;
}
.lst a{
    text-decoration: none;
    color: grey;
    font-weight: 100;
}
.GiThubFeatures {
    position: relative;
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;
    flex-wrap: wrap;
}
.GiThubFeatures p{
    color: grey;
}
.GiThubFeatures a {
    display: block;
    text-decoration: none;
    padding-top: 1em;
    color: grey;
   
}
.GiThubFeatures article{
    padding: 1em;
    
}
.GH {
    flex: 2;
    text-align: justify;
    margin-left: 10em;   
} 
.GH a{
    color: #254441;
    font-size: 1.5em;
    font-weight: 900;
}
.GH h1 {
    padding-bottom: 2em;
    margin-top: 0px;
    padding-top: 0px;
}
.GH  p a button {
    height: 6vh;
    width: 7.5em;
    display: inline-block;
    border-radius: 7px;
    border: .5px solid rgb(191, 211, 247);
    background-color: white;
    color: rgb(28, 145, 241);
    font-weight: 600;
    font-size: .5em;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(250, 248, 248);
    margin-top: 3em;
}
.ft1 {
   position: relative;
   display: flex;
   align-items: center;
}
.ft2 {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 8em;
 }
 .ft1 a, .ft1 p{
     text-decoration: none;
     font-size: smaller;
     padding: .6em;
     color: grey;
 }
 .ft2 a {
     color:  grey;
     font-size: 1.4em;
     padding: .3em;
 }

 /*dropdown */
 .dropdown1 {
     list-style: none;
     position: absolute;
     width: 100px;
     z-index: 5;
     display: flex;
     flex-direction: column;
     left: 254px;
     align-items: center;
     border-radius: 10px;
     visibility: hidden;
 }
 .dropdown1 li{
     display: block;
     width: 467px;
     background-color: white;
     height: 45px;
     border-bottom: 1px solid rgb(233, 225, 225);;
     
 }
 .dropdown1 li a{
     padding: 1em 1em 1em 0.5em;
     text-decoration: none;
     color: rgb(107, 104, 104);;
 }
 .dropdown2 {
    list-style: none;
    position: absolute;
    width: 100px;
    z-index: 6;
    display: flex;
    flex-direction: column;
    right: 120px;
    top: 50px;
    align-items: center;
    visibility: hidden;
}
.dropdown2 li{
    display: block;
    width: 170px;
    background-color: white;
    
    
}
.dropdown2 li a{
    padding: 1em;
    text-decoration: none;
    color: rgb(107, 104, 104);;
}
p.pUp {
    color: white;
    position: absolute;
    top: 40px;
    right: 100px;
    z-index: 10;
    visibility: hidden;
}
.dropdown3 {
    list-style: none;
    position: absolute;
    width: 100px;
    z-index: 7;
    display: flex;
    flex-direction: column;
    right: 70px;
    top: 50px;
    align-items: center;
    border-radius: 10px;
    visibility: hidden;
}
.dropdown3 li{
    display: block;
    width: 190px;
    background-color: white;
    padding-top: 10px;
    
}
.dropdown3 li a{
    padding: 1em;
    text-decoration: none;
    color: rgb(107, 104, 104);
    font-size: .9em;
}
.dropdown3 li button {
    height: 2.5em;
    /*padding: 0.2em;*/
    width: 85%;
    text-align: left;
    background-color: white;
    bottom: 1px solid rgb(233, 229, 229);
    border-radius: 5px;
    color: rgb(107, 104, 104);
}
.dropdown3 li button .far{
    font-size: 1.2em;
    padding-left: .5em;
    color:rgb(107, 104, 104);
}
p.pUp2 {
    color: white;
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 10;
    visibility: hidden;
}
nav ul li a:hover{
    color: rgb(204, 195, 195);
}
.searchArea a:hover, 
.ft1 a:hover,
.Product a:hover,
.Platform a:hover,
.Support a:hover,
.Company a:hover
{
   text-decoration: underline;
   color: rgb(0, 132, 255);
}
.srh button {
    background-color: white; 
}
.srh button:hover {
    background-color: rgb(248, 241, 241); 
}
.GH  p a button:hover {
    border: 1px solid blue;
}
.navsrch:focus {
    background-color: white;
    
}























